In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("E:/Predicto_Project/heart.csv")

In [3]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.shape

(918, 12)

In [5]:
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [6]:
df.nunique()

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64

In [7]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [8]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [9]:
df.Sex.replace({'M':1,'F':0}, inplace = True)
df.ChestPainType.replace({'TA':0, 'ATA':1, 'NAP':2, 'ASY':3 }, inplace = True)
df.RestingECG.replace({'Normal':0, 'ST':1, 'LVH':2}, inplace = True)
df.ExerciseAngina.replace({'N':0, 'Y':1}, inplace = True)
df.ST_Slope.replace({'Up':0, 'Flat':1, 'Down':2}, inplace = True)

In [10]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,0,172,0,0.0,0,0
1,49,0,2,160,180,0,0,156,0,1.0,1,1
2,37,1,1,130,283,0,1,98,0,0.0,0,0
3,48,0,3,138,214,0,0,108,1,1.5,1,1
4,54,1,2,150,195,0,0,122,0,0.0,0,0

In [11]:
cat_col = ['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope'] # categorical features
con_col = ['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak'] # continuous features

In [12]:
round(df[con_col].describe(), 2)

          Age  RestingBP  Cholesterol  FastingBS   MaxHR  Oldpeak
count  918.00     918.00       918.00     918.00  918.00   918.00
mean    53.51     132.40       198.80       0.23  136.81     0.89
std      9.43      18.51       109.38       0.42   25.46     1.07
min     28.00       0.00         0.00       0.00   60.00    -2.60
25%     47.00     120.00       173.25       0.00  120.00     0.00
50%     54.00     130.00       223.00       0.00  138.00     0.60
75%     60.00     140.00       267.00       0.00  156.00     1.50
max     77.00     200.00       603.00       1.00  202.00     6.20

In [13]:
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, roc_curve
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [15]:
df = pd.get_dummies(df, columns=cat_col, drop_first=True)

In [16]:
df

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_1,ChestPainType_1,ChestPainType_2,ChestPainType_3,RestingECG_1,RestingECG_2,ExerciseAngina_1,ST_Slope_1,ST_Slope_2
0,40,140,289,0,172,0.0,0,1,1,0,0,0,0,0,0,0
1,49,160,180,0,156,1.0,1,0,0,1,0,0,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,1,0,0,0,0
3,48,138,214,0,108,1.5,1,0,0,0,1,0,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,1,0,0,0,0,0,0,1,0
914,68,144,193,1,141,3.4,1,1,0,0,1,0,0,0,1,0
915,57,130,131,0,115,1.2,1,1,0,0,1,0,0,1,1,0
916,57,130,236,0,174,0.0,1,0,1,0,0,0,1,0,1,0
917,38,138,175,0,173,0.0,0,1,0,1,0,0,0,0,0,0

In [17]:
y = df['HeartDisease']
X = df.drop('HeartDisease', axis=1)

scaler = RobustScaler()
X[con_col] = scaler.fit_transform(X[con_col])

X.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_1,ChestPainType_1,ChestPainType_2,ChestPainType_3,RestingECG_1,RestingECG_2,ExerciseAngina_1,ST_Slope_1,ST_Slope_2
0,-1.076923,0.5,0.704000,0.0,0.944444,-0.400000,1,1,0,0,0,0,0,0,0
1,-0.384615,1.5,-0.458667,0.0,0.500000,0.266667,0,0,1,0,0,0,0,1,0
2,-1.307692,0.0,0.640000,0.0,-1.111111,-0.400000,1,1,0,0,1,0,0,0,0
3,-0.461538,0.4,-0.096000,0.0,-0.833333,0.600000,0,0,0,1,0,0,1,1,0
4,0.000000,1.0,-0.298667,0.0,-0.444444,-0.400000,1,0,1,0,0,0,0,0,0

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
print('X_train shape is', X_train.shape)
print('X_test shape is', X_test.shape)
print('y_train shape is', y_train.shape)
print('y_test shape is', y_test.shape)

X_train shape is (734, 15)
X_test shape is (184, 15)
y_train shape is (734,)
y_test shape is (184,)

In [19]:
logreg = LogisticRegression(random_state=1)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('the score of logistic regression is', accuracy_score(y_pred, y_test))

the score of logistic regression is 0.8967391304347826

In [20]:
import pickle

In [23]:
filename = 'stroke_model4.pkl'
pickle.dump(logreg, open(filename, 'wb'))
loaded_model = pickle.load(open(filename, 'rb'))